<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Elijah's Webpage</title>
  </head>

  <body>
    <div id="normalDisplay">
      <div id="nav__wrapper">
        <div class="nav__heading">
          <h1>Projects</h1>
        </div>
        <div class="nav__items">
          <a href="http://127.0.0.1:5500/index.html">Home</a>
          <a href="#Upper Engine">Upper Engine</a>
          <a href="#Webpage">Webpage</a>
          <a href="https://github.com/Jetvac2" target="_blank">Github Page</a>
          <div class="newSection">

          </div>
          <div class="nav__buttons">
            <button id="nav__add">
              <img src="/static/image/icons8-add-100.png" alt="Add Icon" />
            </button>
            <button id="nav__del">
              <img src="/static/image/icons8-minus-100.png" alt="Subtrace Icon" />
            </button>
          </div>
        </div>
      </div>
      <div id="main__page">
        <div class="login__wrapper">
          <button id="login__button">Log In</button>
        </div>
        <div id="about__wrapper">
          <div class="about__break">
            <br />
          </div>
          <div class="about__header">
            <div class="about__bio">
              <h2>About Me</h2>

              <p>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. In quis luctus
                turpis. Quisque a arcu faucibus, placerat neque id, tristique
                velit. Integer vestibulum, dui quis egestas laoreet, odio felis
                dapibus justo, vel fermentum nunc dui sagittis erat. Ut blandit
                mi at interdum varius. Ut urna diam, pretium ut viverra sed,
                pharetra eget nulla. Aliquam aliquam quam eget est iaculis
                cursus. Cras odio lacus, viverra sed efficitur a, bibendum nec
                dolor. Duis dictum ullamcorper magna, et semper leo congue ac.
                Curabitur vel vestibulum elit. Aenean euismod maximus sapien.
                Suspendisse vel felis vitae ipsum malesuada efficitur. Ut nec
                magna et augue malesuada mollis. Fusce eu ligula dictum,
                tincidunt ligula ut, bibendum purus. Orci varius natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Quisque congue, neque id fringilla mollis, mauris nunc
                imperdiet erat, sit amet pharetra augue ipsum vitae ante. Aenean
                nec nibh odio. Sed laoreet elementum dolor, nec auctor dolor
                pellentesque non. Aliquam erat volutpat. Nulla quam lacus,
                tempor ac est vehicula, egestas aliquam lorem. Duis a metus
                urna.
              </p>
              <p>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Ut sagittis
                nec neque in consectetur. Nunc dignissim molestie erat, vitae
                lacinia diam dapibus laoreet. Quisque at ligula condimentum,
                bibendum ligula id, pulvinar enim. Suspendisse congue suscipit
                pretium. Morbi dignissim est in nisi egestas, imperdiet pretium
                mi bibendum. Vestibulum nec ultrices urna. Praesent neque orci,
                pulvinar sit amet arcu ut, consectetur venenatis mauris. Aenean
                leo sapien, mattis non facilisis maximus, maximus vitae nisl.
                Praesent rhoncus diam non augue congue placerat in id neque.
                Morbi et laoreet libero, ut mattis neque. Phasellus
                sollicitudin, est et venenatis molestie, sem dui posuere diam,
                vel laoreet quam magna eu mi. Maecenas felis felis, cursus quis
                lacus vel, sollicitudin malesuada nibh. Aliquam porta, dui sit
                amet pulvinar congue, massa orci fermentum eros, ac pretium erat
                libero nec tellus. Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis egestas.
              </p>

              <p>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Aenean nibh
                lectus, tempus pulvinar volutpat et, elementum vitae nulla.
                Vivamus id mauris id lectus suscipit elementum. Morbi ac leo ac
                erat blandit ultricies ac eget sapien. Maecenas a diam blandit,
                auctor turpis ac, rhoncus dui. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Sed at consequat purus, sit amet
                imperdiet risus. Nulla a libero mi. Ut vitae fringilla turpis.
                Mauris mollis, nunc ut varius efficitur, nulla sapien varius ex,
                ac blandit neque felis id enim. Nunc dignissim felis mi, vel
                tempus ligula mollis vel. Cras eget tincidunt dolor. Integer
                mattis ex at purus laoreet, et luctus magna tristique. Nulla
                facilisi. Aliquam ultricies neque et erat maximus sollicitudin.
                Nunc euismod bibendum facilisis. Nunc varius risus vitae urna
                volutpat, ac euismod justo efficitur. Suspendisse non consequat
                libero, quis pellentesque nunc. Pellentesque velit turpis,
                ultrices non elit a, commodo iaculis ante. Phasellus consequat
                leo at mi congue pharetra.
              </p>
            </div>
          </div>
          <div class="about__cert">
            <h2>My Certifications</h2>
            <img src="/static/image/pngwing.com.png" alt="Java Logo" class="about__img" />
            <img src="/static/image/js-logo.png" alt="JS Logo" class="about__img" />
            <img
              src="/static/image/Python-logo-notext.svg"
              alt="Python Logo"
              class="about__img"
              id="python"
            />
            <img
              src="/static/image/power-point.png"
              alt="Power Point Logo"
              class="about__img"
            />
            <img src="/static/image/css_logo.png" alt="CSS Logo" class="about__img" />
            <img src="/static/image/word-logo.png" alt="Word Logo" class="about__img" />
            <img
              src="/static/image/HTML5_logo.png"
              alt="HTML Logo"
              class="about__img"
            />
          </div>
        </div>
        <div class="credits">
          <a
            href="https://commons.wikimedia.org/wiki/File:Microsoft_Office_PowerPoint_(2019%E2%80%93present).svg"
            >(Power Point Logo)Microsoft Corporation, Public domain, via
            Wikimedia Commons</a
          >
          <a
            href="https://commons.wikimedia.org/wiki/File:Microsoft_Office_Word_(2019%E2%80%93present).svg"
            >(Word Logo)Microsoft Corporation Public domain, via Wikimedia
            Commons</a
          >
          <a
            href="https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg"
            >(JS Logo)Chris Williams Public domain, via Wikimedia Commons</a
          >

          <a href="https://commons.wikimedia.org/wiki/File:Python-logo-notext.svg">www.python.org</a>
          <a href="http://www.gnu.org/licenses/gpl.html">GPL via Wikimedia Commons</a>, 

          <a target="_blank" href="https://icons8.com/icon/1504/minus"
            >Minus Icon Source</a
          >
          <a target="_blank" href="https://icons8.com">Minus Icon by Icons8</a>
          <a target="_blank" href="https://icons8.com/icon/24717/add"
            >Add Icon Source</a
          >
          <a target="_blank" href="https://icons8.com">Add Icon buIcons8</a>
        </div>
      </div>
    </div>
    <div id="addMenu">
      <form action="/create_page" method="post">
        <div class="inputName">
          <label for="name">Name:</label>
          <input type="text" name="name"/>
        </div>
        <input class="closeAddMenu" type="submit" value="Create">
        <input class="closeAddMenu" id="close" type="button" value="Close">
      </form>
    </div>

    <div id="delMenu">
      <form action="/del_page" method="post">
        <div class="inputName">
          <label for="name">Name:</label>
          <input type="text" name="name"/>
        </div>
        <input class="closeDelMenu" type="submit" value="Remove">
        <input class="closeDelMenu" id="closeDel" type="button" value="Close">
      </form>
    </div>

    <div id="loginMenu">
      <form class="login-field" action="/verify_login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <script src="\static\app.js"></script>
  </body>
</html>
